<div class="col-xs-12">
  <h2 style="letter-spacing: -2px; font-size: 2em;">IHG<sup>®</sup> 优悦会近心倾听</h2>
  <h2 style="letter-spacing: -2px; font-size: 2em;">调查问卷</h2>
  <hr>
  <p>作为IHG<sup>®</sup> 优悦会会员，你的心声是我们最关心的事。现在，IHG设计团队要为精英会员制定合作伙伴礼遇计划，特邀你参加此次问卷调查。请把你最感兴趣的资讯、优惠和礼遇品类告诉我们，帮助我们优化礼遇方案，为你的旅程带来更舒适称心的体验。</p>

  <hr style="margin-top:10px; margin-bottom:10px;">
    <p style="margin-bottom:0px;">
      <b>幸运抽奖为IHG<sup>®</sup> 优悦会会员专属。</b>
    </p>
    <p >
      <b>还不是会员？现在就<a href="http://m.ihg.com">注册</a></b>
    </p>
    <p>

  本活动已于2016年1月28日结束。<br>
  活动结果将于近期公布<br>
  感谢您的参与

    </p>
</div>
