<div class="row">
  <div class="col-xs-12">
    <h4 class="modal-title text-center">
      问题
      <span class="scrollIndex">1</span>
    </h4>
    <div class="alert alert-danger" role="alert" ng-hide="formData.comment!=''" >
      <a href="#" class="alert-link">请将问卷填写完整，让IHG更懂你。</a>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <!-- success information/alert -->
    <div class="alert alert-success alert-dismissable" ng-show="successInfo">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>感谢你参与IHG<sup>®</sup> 优悦会问卷调研！ </h4>
      <hr>
      <p>
        2月10日至29日，我们将电话通知获奖者。奖品会在3月15日前发送完毕，一等奖积分将打入获奖者提供的IHG® 优悦会会员账号，二等奖奖品将通过邮寄方式递送给获奖者。
      </p>
      <p>
        现在就关注“IHG优悦会”微信号，第一时间了解最新优惠信息，让IHG与你更亲近。
      </p>
      <hr>
    </div>
    <ks-swiper-container initial-slide="0" loop="false" direction="vertical" show-nav-buttons="false" slides-per-view="1" space-between="0" pagination=".test" pagination-is-active="true" pagination-clickable="false" swiper="swiper" on-ready="onReadySurvey(swiper)">
      <ks-swiper-slide>
        <div>
          <label>请问您的IHG® 优悦会会员等级是:</label>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="spire" value="spire" ng-model="formData.memberType"> 优悦会至悦精英会员
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="platinum" value="platinum" ng-model="formData.memberType"> 优悦会白金卡精英会员
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gold" value="gold" ng-model="formData.memberType"> 优悦会金卡精英会员
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="club" value="club" ng-model="formData.memberType"> 优悦会俱乐部会员
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="club" value="not sure" ng-model="formData.memberType"> 我不确定自己目前的会员等级
              </label>
            </div>
          </div>
        </div>
      </ks-swiper-slide>

      <ks-swiper-slide>
        <label>作为一名精英会员（或未来您成为精英会员时），除了得到和酒店相关的优惠及服务之外，您更愿意IHG® 优悦会奉上以下哪一方面的资讯及优惠来感谢您的忠诚信赖</label>
        <div class="form-group">

          <div class="radio">
            <label>
              <input type="radio" name="club" value="travel" ng-model="formData.preferReward"> 旅行相关的
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="club" value="daily" ng-model="formData.preferReward"> 日常生活相关的
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="club" value="both" ng-model="formData.preferReward"> 两者均可
            </label>
          </div>

<!--
            <button type="button" class="btn btn-primary" ng-model="formData.preferReward" btn-radio='travel'><i class="glyphicon glyphicon-plane"></i> 旅行相关的</button>
            <button type="button" class="btn btn-primary" ng-model="formData.preferReward" btn-radio='daily'><i class="glyphicon glyphicon-cutlery"></i> 日常生活相关的</button>
            <button type="button" class="btn btn-primary" ng-model="formData.preferReward" btn-radio='both'><i class="glyphicon glyphicon-thumbs-up"></i> 两者均可</button> -->


        </div>
      </ks-swiper-slide>
      <ks-swiper-slide>
        <!-- toggle choice -->
        <label>作为一名精英会员或未来即将成为精英会员，请选出以下您认为更具价值的礼遇</label>

        <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="preferReward('travel')" ng-click="openTravelPrefer()"><i class="glyphicon glyphicon-plane"></i> 旅行相关的细节</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="preferReward('daily')" ng-click="openDailyPrefer()"><i class="glyphicon glyphicon-cutlery"></i> 日常生活相关的细节</button>

      </ks-swiper-slide>
      <ks-swiper-slide>
        <!-- star rating -->
        <div>
          <label>
            作为一名精英会员或未来即将成为精英会员，以下哪一类型的礼遇更吸引您：
          </label>
          <div class="form-group">

            <div class="radio">
              <label>
                <input type="radio" name="club" value="享受精选商品或服务的专属折扣" ng-model="formData.preferTreatment"> 享受精选商品或服务的专属折扣
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="club" value="获邀参加专属VIP活动" ng-model="formData.preferTreatment"> 获邀参加专属VIP活动
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="club" value="两者均可" ng-model="formData.preferTreatment"> 两者均可
              </label>
            </div>

            <!-- <div class="btn-group-vertical center-block">
              <button type="button" class="btn btn-primary" ng-model="formData.preferTreatment" btn-radio='享受精选商品或服务的专属折扣'><i class="glyphicon glyphicon-tags"></i> 享受精选商品或服务的专属折扣</button>
              <button type="button" class="btn btn-primary" ng-model="formData.preferTreatment" btn-radio='获邀参加专属VIP活动'><i class="glyphicon glyphicon-king"></i> 获邀参加专属VIP活动</button>
              <button type="button" class="btn btn-primary" ng-model="formData.preferTreatment" btn-radio='两者均可'><i class="glyphicon glyphicon-thumbs-up"></i> 两者均可</button>
            </div> -->
          </div>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide>
        <!-- textarea -->
        <div>
          <label>请列出1个日常生活中，您最忠诚最喜爱的会员奖励计划（包括各类贵宾卡、俱乐部会员活动，不限行业）:</label>
          <div class="form-group">
            <textarea class="form-control" rows="2" ng-model="formData.comment"></textarea>
          </div>
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>
    <!--radio buttons md-swipe-up="onSwipeUp()" md-swipe-down="onSwipeDown()"-->

  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <span class="scroll-down" ng-show="formData.memberType!=''">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </span>
  </div>
</div>
<div class="row" ng-show="formData.comment!=''">
  <div class="col-xs-12 text-center">
    <button type="button" class="btn btn-primary" id="addButton" data-loading-text="Sending..." ng-click="addSurvey()"> <i class="glyphicon glyphicon-send"></i> 完成问卷!</button>
  </div>
</div>
<div class="modal fade" id='contactInfo' tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="modal-title">
          <b>留下你的联系方式，即可参与幸运抽奖</b>
          </p>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="loginForm" novalidate >
          <!-- ng-class="{'has-error': formData.name=='', 'has-success': formData.name!=''}"  ng-class="{'has-error': formData.memberId=='', 'has-success': formData.memberId!=''}" -->
          <div class="form-group has-feedback" ng-class="{'has-error': loginForm.name.$invalid, 'has-success':loginForm.name.$valid}" >
            <label class="col-xs-4 control-label text-right">姓名</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="name" required ng-model="formData.name">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{'has-error': loginForm.memberId.$invalid, 'has-success':loginForm.memberId.$valid}">
            <label class="col-xs-4 control-label text-right">会员编号</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="memberId" required minlength="9" maxlength="9" ng-model="formData.memberId">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{'has-error': loginForm.phoneNumber.$invalid, 'has-success':loginForm.phoneNumber.$valid}">
            <label class="col-xs-4 control-label text-right">手机号码</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" ng-pattern="/^0?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/" name="phoneNumber" required ng-model="formData.phoneNumber">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>
          <span ng-show="loginForm.name.$error.required"><i class="glyphicon glyphicon-exclamation-sign"></i> 请输入姓名</span>
          <span ng-show="loginForm.phoneNumber.$error.required"><i class="glyphicon glyphicon-exclamation-sign"></i>请输入手机号</span>
          <span ng-show="loginForm.phoneNumber.$error.pattern"><i class="glyphicon glyphicon-exclamation-sign"></i>手机号格式有误</span>
          <span ng-show="loginForm.memberId.$error.required"><i class="glyphicon glyphicon-exclamation-sign"></i>请输入会员编号</span>
          <span ng-show="loginForm.memberId.$error.minlength"><i class="glyphicon glyphicon-exclamation-sign"></i>会员编号为9位数字</span>
          <span ng-show="loginForm.memberId.$error.maxlength"><i class="glyphicon glyphicon-exclamation-sign"></i>会员编号为9位数字</span>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary sendbtn" ng-show="lastQuestion()" data-loading-text="Sending..." ng-click="addSurvey()" ng-disabled="loginForm.$invalid" > <i class="glyphicon glyphicon-send"></i> 完成问卷!</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary btn-lg " ng-hide="lastQuestion()" data-dismiss="modal" ng-click="go('/survey');" ng-disabled="loginForm.$invalid">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> 开始问卷</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id='travel' tabindex="1" role="dialog" aria-labelledby="travel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">作为一名精英会员或未来即将成为精英会员，请选出以下您认为更具价值的礼遇</h5>
        <p class="modal-title">3-A 旅行相关的（多选）</p>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelAirline"> 航空</label>
            <div class="col-xs-12" ng-show="formData.travelAirline">
              <div class="radio">
                <label>
                  <input type="radio" name="travelAirline" ng-value="true" ng-model="formData.travelCustAirline"> 您特别钟爱的品牌是
                </label>
                <input type="text" class="form-control" ng-show="formData.travelCustAirline" ng-model="formData.travelCustAirlineText">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="travelAirline" ng-value="false" ng-model="formData.travelCustAirline"> 无指定品牌
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelRailway"> 铁路</label>
            <div class="col-xs-12" ng-show="formData.travelRailway">
              <div class="radio">
                <label>
                  <input type="radio" name="travelRailway" ng-value="true" ng-model="formData.travelCustRailway"> 您特别钟爱的品牌是
                </label>
                <input type="text" class="form-control" ng-show="formData.travelCustRailway" ng-model="formData.travelCustRailwayText">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="travelRailway" ng-value="false" ng-model="formData.travelCustRailway"> 无指定品牌
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelRentCar"> 租车/用车</label>
            <div class="col-xs-12" ng-show="formData.travelRentCar">
              <div class="radio">
                <label>
                  <input type="radio" name="travelRentCar" ng-value="true" ng-model="formData.travelCustRentCar"> 您特别钟爱的品牌是
                </label>
                <input type="text" class="form-control" ng-show="formData.travelCustRentCar" ng-model="formData.travelCustRentCarText">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="travelRentCar" ng-value="false" ng-model="formData.travelCustRentCar"> 无指定品牌
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelInsurance"> 旅行保险</label>
            <div class="col-xs-12" ng-show="formData.travelInsurance">
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  类型</label>
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelInsuranceType" ng-value="delay" ng-model="formData.travelInsuranceTypeOptions.delay"> 航班延误险
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelInsuranceType" ng-value="finance" ng-model="formData.travelInsuranceTypeOptions.finance"> 旅行财险
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelInsuranceType" ng-value="other" ng-model="formData.travelInsuranceTypeOptions.other"> 其他
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelInsuranceTypeOptions.other" ng-model="formData.travelInsuranceTypeText">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  品牌</label>
                <div class="col-xs-12">
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelInsuranceBrand" ng-value="true" ng-model="formData.travelCustInsuranceBrand"> 您特别钟爱的品牌是
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelCustInsuranceBrand" ng-model="formData.travelCustInsuranceBrandText">
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelInsuranceBrand" ng-value="false" ng-model="formData.travelCustInsuranceBrand"> 无指定品牌
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelAccessory"> 旅行相关商品</label>
            <div class="col-xs-12" ng-show="formData.travelAccessory">
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  类型</label>
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelAccessoryType" ng-value="bag" ng-model="formData.travelAccessoryTypeOptions.bag"> 旅行箱
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelAccessoryType" ng-value="other" ng-model="formData.travelAccessoryTypeOptions.other"> 其他
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelAccessoryTypeOptions.other" ng-model="formData.travelAccessoryTypeText">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  品牌</label>
                <div class="col-xs-12">
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelAccessoryBrand" ng-value="true" ng-model="formData.travelCustAccessoryBrand"> 您特别钟爱的品牌是
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelCustAccessoryBrand" ng-model="formData.travelCustAccessoryBrandText">
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelAccessoryBrand" ng-value="false" ng-model="formData.travelCustAccessoryBrand"> 无指定品牌
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelRelaxAccessory"> 休闲旅行相关</label>

            <div class="col-xs-12" ng-show="formData.travelRelaxAccessory">
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  类型</label>
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelRelaxAccessoryType" ng-value="camera" ng-model="formData.travelRelaxAccessoryTypeOptions.camera"> 相机
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelRelaxAccessoryType" ng-value="outdoor" ng-model="formData.travelRelaxAccessoryTypeOptions.outdoor"> 户外装备
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="travelRelaxAccessoryType" ng-value="other" ng-model="formData.travelRelaxAccessoryTypeOptions.other"> 其他
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelRelaxAccessoryTypeOptions.other" ng-model="formData.travelRelaxAccessoryTypeText">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 control-label">
                  品牌</label>
                <div class="col-xs-12">
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelRelaxAccessoryBrand" ng-value="true" ng-model="formData.travelRelaxCustAccessoryBrand"> 您特别钟爱的品牌是
                    </label>
                    <input type="text" class="form-control" ng-show="formData.travelRelaxCustAccessoryBrand" ng-model="formData.travelRelaxCustAccessoryBrandText">
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="travelRelaxAccessoryBrand" ng-value="false" ng-model="formData.travelRelaxCustAccessoryBrand"> 无指定品牌
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.travelOther"> 其他</label>
            <div class="col-xs-12" ng-show="formData.travelOther">
              <div class="radio">
                <label>
                  <input type="radio" name="travelOther" ng-value="true" ng-model="formData.travelOtherTypeOrBrand"> 请注明钟爱的品牌或类型
                </label>
                <input type="text" name="travelOtherType" ng-show="formData.travelOtherTypeOrBrand" class="form-control" ng-model="formData.travelOtherTypeOrBrandText">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="travelOther" ng-value="false" ng-model="formData.travelOtherTypeOrBrand"> 无指定类型及品牌
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox"> 以上皆可</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" ng-click="continue();">
          <span class="glyphicon glyphicon-check" aria-hidden="true" ></span> 继续</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id='daily' tabindex="2" role="dialog" aria-labelledby="daily" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">作为一名精英会员或未来即将成为精英会员，请选出以下您认为更具价值的礼遇</h5>
        <p class="modal-title">3-B 日常生活相关的（多选）</p>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="form-group">
            <label class="col-xs-12 control-label">
              <input type="checkbox" ng-model="formData.dailyLuxury"> 奢侈品</label>
            <div class="col-xs-12" ng-show="formData.dailyLuxury">
              <div class="radio">
                <label>
                  <input type="radio" name="dailyLuxury" ng-value="true" ng-model="formData.dailyCustLuxury"> 特别钟爱的类型或品牌是
                </label>
                <input type="text" class="form-control" ng-show="formData.dailyLuxury" ng-model="formData.dailyCustLuxuryText">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="dailyLuxury" ng-value="false" ng-model="formData.dailyCustLuxury"> 无指定品牌
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailyConsumption"> 日常消费类</label>
          <div class="col-xs-12" ng-show="formData.dailyConsumption">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyConsumption" ng-value="oilFee" ng-model="formData.dailyConsumptionOptions.oilFee"> 汽油卡
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyConsumption" ng-value="mobileFee" ng-model="formData.dailyConsumptionOptions.mobileFee"> 手机卡
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyConsumption" ng-value="other" ng-model="formData.dailyConsumptionOptions.other"> 其他
              </label>
              <input type="text" class="form-control" ng-show="formData.dailyConsumptionOptions.other" ng-model="formData.dailyConsumptionText">
            </div>
          </div>
        </div>



        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailyFoodHealth"> 美食与健康生活</label>
          <div class="col-xs-12" ng-show="formData.dailyFoodHealth">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyFoodHealth" ng-value="food" ng-model="formData.dailyFoodHealthOptions.food"> 美食
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyFoodHealth" ng-value="fitness" ng-model="formData.dailyFoodHealthOptions.fitness"> 健身
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyFoodHealth" ng-value="other" ng-model="formData.dailyFoodHealthOptions.other"> 其他
              </label>
              <input type="text" class="form-control" ng-show="formData.dailyFoodHealthOptions.other" ng-model="formData.dailyFoodHealthText">
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailyEntertainment"> 娱乐休闲</label>
          <div class="col-xs-12" ng-show="formData.dailyEntertainment">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyEntertainment" ng-value="movie" ng-model="formData.dailyEntertainmentOptions.movie"> 电影
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyEntertainment" ng-value="concert" ng-model="formData.dailyEntertainmentOptions.concert"> 演唱会
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyEntertainment" ng-value="philharmonic" ng-model="formData.dailyEntertainmentOptions.philharmonic"> 音乐会
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyEntertainment" ng-value="exhibition" ng-model="formData.dailyEntertainmentOptions.exhibition"> 展览
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailyEntertainment" ng-value="other" ng-model="formData.dailyEntertainmentOptions.other"> 其他演出
              </label>
              <input type="text" class="form-control" ng-show="formData.dailyEntertainmentOptions.other" ng-model="formData.dailyEntertainmentText">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailySelfimprovement"> 自我提升 </label>
          <div class="col-xs-12" ng-show="formData.dailySelfimprovement">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailySelfimprovement" ng-value="mba" ng-model="formData.dailySelfimprovementOptions.mba"> MBA课程
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailySelfimprovement" ng-value="language" ng-model="formData.dailySelfimprovementOptions.language"> 外语
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailySelfimprovement" ng-value="finance" ng-model="formData.dailySelfimprovementOptions.finance"> 理财
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dailySelfimprovement" ng-value="other" ng-model="formData.dailySelfimprovementOptions.other"> 其他
              </label>
              <input type="text" class="form-control" ng-show="formData.dailySelfimprovementOptions.other" ng-model="formData.dailySelfimprovementText">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailyOthers"> 其他 </label>
          <div class="col-xs-12" ng-show="formData.dailyOthers">
            <div class="radio">
              <label>
                <input type="radio" name="dailyOthers" ng-value="true" ng-model="formData.dailyOthersOptions"> 特别钟爱的类型或品牌是
              </label>
              <input type="text" class="form-control" ng-show="formData.dailyOthersOptions" ng-model="formData.dailyOthersText">
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="dailyOthers" ng-value="false" ng-model="formData.dailyOthersOptions"> 无指定类型及品牌
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-12 control-label">
            <input type="checkbox" ng-model="formData.dailyAll"> 以上皆可 </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg " data-dismiss="modal">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> 继续</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
