<div class="col-xs-12">
  <h2 style="letter-spacing: -2px; font-size: 2em;">IHG<sup>®</sup> 优悦会近心倾听</h2>
  <h2 style="letter-spacing: -2px; font-size: 2em;">调查问卷</h2>
  <hr>
  <p>作为IHG<sup>®</sup> 优悦会会员，你的心声是我们最关心的事。现在，IHG设计团队要为精英会员制定合作伙伴礼遇计划，特邀你参加此次问卷调查。请把你最感兴趣的资讯、优惠和礼遇品类告诉我们，帮助我们优化礼遇方案，为你的旅程带来更舒适称心的体验。</p>

  <hr style="margin-top:10px; margin-bottom:10px;">
    <p style="margin-bottom:0px;">
      <b>幸运抽奖为IHG<sup>®</sup> 优悦会会员专属。</b>
    </p>
    <p >
      <b>还不是会员？现在就<a href="http://m.ihg.com">注册</a></b>
    </p>
    <p>
      <button type="button" class="btn btn-primary pull-right btn-lg" ng-click="takeSurvey()" ng-hide="successInfo"> <i class="glyphicon glyphicon-copy"></i> 参加</button>

    </p>
</div>
</div>

<div class="modal fade" id='tnc' tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">“IHG<sup>®</sup> 优悦会近心倾听”</h4>
        <h4 class="modal-title">调研问卷活动</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:16px;">
          <b>官方规则</b>
        </p>
        <p>
            <b>1. 参与资格：</b>“IHG<sup>®</sup> 优悦会近心倾听调研问卷”活动仅面向通过IHG<sup>®</sup> 优悦会活动微信渠道回答问卷的会员。洲际酒店集团员工不符合参加条件。满足此处提出的所有要求，方有机会赢取伍佰（500）元人民币亚马逊礼品卡及三万（30,000）IHG<sup>®</sup> 优悦会积分。参与者须提供IHG<sup>®</sup> 优悦会会员号、真实姓名和真实的手机号码方可参加抽奖。
        </p>
        <p>
          <b>2. 活动发起人：</b>六洲酒店管理（上海）有限公司。地址：中国上海市浦东新区花园石桥路33号花旗集团大厦2楼，邮编：200120
        </p>
        <p>
          <b>3. 时间：</b>参与者须于中国时间2016年1月21日至2016年1月27日完成调查。
        </p>
        <p>
          <b>4. 参与方法：</b>请按照您收到的微信中包含的链接和说明参加“IHG<sup>®</sup> 优悦会近心倾听调研问卷”。参加本次活动，您需要填写并提交问卷以及您的IHG<sup>®</sup> 优悦会会员号、真实姓名和真实的手机号码。您还需要确认您已同意我们的官方规则，并同意活动发起人为执行本次抽奖之目的而使用您的个人信息。
          限制条件：每位参与者凭活动期间提交的每份调查可获得一个参与名额。每个IHG<sup>®</sup> 优悦会会员号仅限一次抽奖机会。禁止采用任何自动化系统参与抽奖的行为，一旦发现，该参与者将被取消参与资格。
        </p>
        <p>
          <b>5. 奖品：</b> 完成调研问卷并在问卷中提供有效IHG<sup>®</sup> 优悦会会员号、真实姓名和有效手机号码，将有机会参与抽奖活动。活动期间共产生一等奖一（1）名，二等奖十（10）名，共计十一（11）位中奖者。一等奖奖品为三万（30,000）IHG<sup>®</sup> 优悦会积分，二等奖奖品为伍佰(500) 元人民币亚马逊礼品卡。

        </p>
        <p>
          a)	中奖者所获奖品：

        </p>
          <ul>
            <li> 伍佰(500) 元人民币亚马逊礼品卡（礼品卡）适用于Amazon.cn可供购买的任何商品和服务，但不得用于购买礼品卡。礼品卡自开卡之日起三年有效。登录Z.cn并按照相关使用说明进行兑换。礼品卡兑换的其他条款与细则，详见www.amazon.cn/gc-legal。洲际酒店集团不承担任何与该礼品卡使用相关的责任。</li>
            <li>此活动奖励的三万（30,000）IHG<sup>®</sup> 优悦会积分的使用，请参见ihg.com</li>
          </ul>
        <p>
          b)	中奖者将于2016年2月10日至2016年2月29日间收到电话通知，奖品发放将于2016年3月15日前完成（一等奖奖品将自动打入获奖者提供的IHG<sup>®</sup>
          优悦会会员账号；二等奖奖品将通过邮寄方式递送给获奖者）。
        </p>
        <p>
          奖品不可转让，除非发起人自行决定并在此处述明的情形外，不可由任何人代领奖品。若此处指定的奖品因任何原因导致无法使用，发起人保留将该奖品更换为同等或更大价值奖品的权利。

        </p>
          <p>
            <b>6. 豁免：</b>在中国法律允许的范围内，针对奖品的领取，中奖者同意豁免及不追究发起人、管理员及其各自之子公司、关联公司、供应商、经销商、广告/推广机构、奖品供应商及其各自母公司和各自公司管理人员、董事、雇员及代理人（以下统称“豁免方”）的任何索赔或诉因，包括但不限于因参与抽奖或接收、使用、误用任何奖品而引起的财产损害或损失。
          </p>
          <p>
            <b>7. 一般条件：</b>若发起人确定存在任何欺诈、技术故障、人为错误或任何损害抽奖完整性或正常运作的其他因素，在中国法律允许的范围内，发起人保留取消、暂停和/或修改抽奖规则或其中任意部分的权利。发起人有权自行决定对被发现篡改问卷填写过程、抽奖操作的，或在此次或其它任何推广活动中违反本官方规则的，或存在违反道德或破坏性行为的任何个人取消参与资格。任何蓄意破坏合法抽奖操作的企图都可能违反刑法和民法，若出现该种行为，发起人保留在法律允许的最大范围内向该等人士寻求赔偿的权利。发起人未能执行官方规则中的任意条款不应构成对该条款的弃权。
          </p>
          <p>
            <b>8．责任限制：</b>在中国法律允许的范围内，被豁免方不对下列情形负责：（1）无论是由参与者、打印错误或任何与抽奖相关、或在抽奖中使用的设备或编程引起的任何不正确或不准确的信息；（2）任何形式的技术故障，包括但不限于电话线、网络硬件或软件出现的故障、中断或断开等状况；（3）在问卷填写过程或抽奖中出现的未经授权的人为干预；（4）抽奖管理或问卷处理过程中可能发生的技术性或人为错误；（5）邮件/短信延迟、遗失、无法送达、损坏或被盗；（6）因参与者参与抽奖或因接收、使用或误用任何奖品而可能造成的直接或间接、全部或部分的财产损害或损失。若经证实由于任意原因而导致参与者名额误删、丢失，或以其他方式遭到破坏或损坏，如有可能，针对参与者的唯一补救措施是增加其一个抽奖名额。若因任何缘由导致抽奖或任意抽奖流程的中止，发起人可自由裁定针对截至抽奖中止之日接收的所有合格名额进行随机抽奖，发放其此处提供的任意或所有奖品。发放奖品数额不得超过规定的数额。若因制作、技术、播种、编程或其它任何原因导致可用或需要的奖品数目超过本官方规则中规定的奖品数目，发起人保留在所有合法、未领奖、合格的奖品申请中随机抽取规定数量的奖品并予以发放的权利。
          </p>
          <p>
            <b>9. 争议：</b>除非法律禁止，参与者同意：（1）因抽奖而引起、或与抽奖相关的任何及所有争议、索赔和诉讼应予以单独解决，不诉诸任何形式的集体诉讼，并仅在中华人民共和国范围内解决；（2）任何及所有索赔、判决和裁决应限于实际发生的现款支付费用，包括与参与本抽奖活动相关的成本，但在任何情况下皆不包括律师费；（3）在任何情形下，都不允许参与者获得裁决，并特此放弃所有主张除实际发生的现款支付费用外的间接、惩罚性、偶然及附带损害赔偿和其它任何损害赔偿的权利，以及任何及所有加倍或以其它方式增加损害赔偿的权利。所有涉及本官方规则的构成、效力、解释和可执行性的问题和疑问，以及与抽奖活动相关的参与者和发起人权利和义务均应受中华人民共和国法律管辖，并依据该法律加以解释。而不容许适用法律选择或法律冲突规则（无论是中华人民共和国还是任何其他司法管辖区的），继而可能导致需要适用除中国人民共和国以外的任何司法管辖区的法律。
          </p>
          <p>
            <b>10. 参与者个人信息：</b>参与者参加抽奖活动，即视为授权发起人因抽奖活动管理之目的而转移其个人信息。在此次抽奖活动中向发起人提交的所有信息将依照发起人制定的隐私政策进行处理，详见
            <a href="https://www.ihg.com/hotels/cn/en/global/customer_care/privacy_statement">链接</a>

          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg " data-dismiss="modal" ng-click="go('/survey');">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 我接受</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
