<div class="col-xs-12">
  <h2>Survey for Spire Partner Benefits</h2>

  <hr>

  <ul>
    <li>As an elite member or when you get upgraded to in future, besides hotel offering & services, </li>
    <li>what's your preference on below if IHG presents to you as special thanks for your loyalty?</li>
  </ul>
  <hr>
  <button type="button" class="btn btn-primary pull-right" ng-click="takeSurvey()" ng-hide="successInfo">Take the Survey</button>
</div>
</div>

<div class="modal fade" id='tnc' tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
        <p>
          balabala.....
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg " data-dismiss="modal" ng-click="go('/survey');">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok,I agree</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
